<a href="https://colab.research.google.com/github/PtrcE/Programming-class/blob/main/Class%20Work/November_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tuples
tuple1=('Daisy','Tulip','Gardenia')
tuple2=('Carrot','Spinach','Lettuce')

print('The first element of tuple1 is ',tuple1[0])
print('The second element of tuple1 is ',tuple1[1])
print('The third element of tuple1 is ',tuple1[2])
print('\n')
print('The first element of tuple2 is ',tuple1[0])
print('The second element of tuple2 is ',tuple1[1])
print('The third element of tuple2 is ',tuple1[2])
print('\n')

print('The elements in tuple 1 is ', tuple1[0:3])
print('The elements in tuple 2 is ',tuple2[0:3])
print('\n')

print('Tuple1 elements are: ')
for i in tuple1:
  print(i, end=' \n')
print('\n')

print('Tuple2 elements are: ')
for i in tuple2:
  print(i, end=' \n')

The first element of tuple1 is  Daisy
The second element of tuple1 is  Tulip
The third element of tuple1 is  Gardenia


The first element of tuple2 is  Daisy
The second element of tuple2 is  Tulip
The third element of tuple2 is  Gardenia


The elements in tuple 1 is  ('Daisy', 'Tulip', 'Gardenia')
The elements in tuple 2 is  ('Carrot', 'Spinach', 'Lettuce')


Tuple1 elements are:
Daisy
Tulip
Gardenia


Tuple2 elements are:
Carrot
Spinach
Lettuce

In [ ]:
#integer tuples consisting of leap and non leap years apart
leap_year=(2000,2004,2008,2012)
non_leap_year=(2001,2005,2009,2013)


print('The 4 previous leap years:',leap_year[0:5])
print('The following 4 non leap years:',non_leap_year[0:5])
print('\n')

#concatenate
print('Few list of of leap years and non leap years are: \n',leap_year+non_leap_year)
print('\n')

#repeating the lists by using * function
print(leap_year*4)
print('\n')

#comparing the tuples
print(leap_year==non_leap_year)
print('\n')

#length of each tuple
print(len(leap_year))
print(len(non_leap_year))
print('\n')

#sum the elements
print(sum(leap_year))
print(sum(non_leap_year))
print('\n')

#sorting the elements
print(sorted(leap_year))
print(sorted(non_leap_year))
print('\n')

#swaping tuples
leap_year,non_leap_year=non_leap_year,leap_year
print('The previous non leap years: ',leap_year)
print('The following leap years: ',non_leap_year)

The 4 previous leap years: (2000, 2004, 2008, 2012)
The following 4 non leap years: (2001, 2005, 2009, 2013)


Few list of of leap years and non leap years are:
 (2000, 2004, 2008, 2012, 2001, 2005, 2009, 2013)


(2000, 2004, 2008, 2012, 2000, 2004, 2008, 2012, 2000, 2004, 2008, 2012, 2000, 2004, 2008, 2012)


False


4
4


8024
8028


[2000, 2004, 2008, 2012]
[2001, 2005, 2009, 2013]


The previous non leap years:  (2001, 2005, 2009, 2013)
The following leap years:  (2000, 2004, 2008, 2012)

In [ ]:
#Quiz - trial 1
flowers=['Daisy','Gardenia','Tulip']
favflower=(input('What is your favorite flower? '))

if favflower=="Daisy":
  print('Success!')
if favflower=="Gardenia":
  print('Success!')
if favflower=="Tulip":
  print('Success!')

else:
  print('Unsuccessful')

What is your favorite flower? Daisy
Success!
Unsuccessful

In [ ]:
#Quiz - trial 2
flowers=('daisy','gardenia','tulip')
favflower=(input('What is your favorite flower? '))

if favflower==flowers[0:3]:
  print("Success!")
    
else:
  print("Unsuccessful")

What is your favorite flower? rose
Unsuccessful

In [ ]:
#Quiz success 
flower = ['daisy', 'gardenia', 'tulip']
favoriteflower = input('What is your favorite flower? ')

for fav in flower:
  if favoriteflower in flower:
    print('Success.')
    break

  else:
    print('Unsuccessful.')
    break

What is your favorite flower? daisy
Success.

In [ ]:
#Quiz - alternate trial 
flower = ('daisy', 'gardenia', 'tulip')
favorite = input('What is your favorite flower? ')

if favorite in flower:
  print('Success.')

else:
  print('Unsucessful.')

What is your favorite flower? rose
Unsucessful.