<a href="https://colab.research.google.com/github/PtrcE/Programming-class/blob/main/Class%20Work/November_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Exercise 1 

#Taking kilometer value from user
kilometer = float(input("Enter number in Kilometers: "))

#conversation rate km to mile
conv =0.621371

miles = kilometer*conv
print(kilometer,'Kilometer is', miles,'in miles')

Enter number in Kilometers: 2
2.0 Kilometer is 1.242742 in miles

In [ ]:
#Exercise 2

celcius= float(input("Enter tempreture in Celcius: "))

#Conversion to fahrenheit
fahrenheit= (celcius* 1.8) + 32

print(celcius,'Celcius is', fahrenheit,'in Fahrenheit')

Enter tempreture in Celcius: 37
37.0 Celcius is 98.60000000000001 in Fahrenheit

In [ ]:
#Exercise 3

#To check if value is positive
number=int(input("Enter number: "))

if number >0:
  print(number, 'is Positive')

elif number ==0:
  print(number,'is 0')

else:
  print(number,'is Negative')

Enter number: -2
-2 is Negative

In [ ]:
#Exercise 4

#To check if number is a PRIME number

num = int(input("Enter a number >1: "))  
f = 0
i = 2
while i <= num / 2:
  if num % i == 0:
        f=1
        break
  i=i+1
    
if f==0:
    print(num,"is a PRIME number")
else:
    print(num,"is not a PRIME number")

Enter a number >1: 3
3 is a PRIME number

In [ ]:
#Exercise 5 
#To display user choice of multiplication table

number = int(input ("Enter the number to display the multiplication table: "))      
      
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number to display the multiplication table: 4
The Multiplication Table of:  4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
#Exercise 6
#To print Fibonacci series


nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

if nterms <= 0:
   print("Please enter a number greater than 0 ")

elif nterms == 1:
   print("Fibonacci sequence is only 0")
   print(n1)

else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

In [ ]:
#Exercise 7
word = str(input('Enter string : '))
word = word.lower()

reversedword = word[::-1]
 
if word == reversedword:
  print('Your word is a palindrome.')
else:
  print('Your word is not a palindrome.')

Enter string : wassup
Your word is not a palindrome.

In [ ]:
#Exercise 8
#To merge dictionaries

dict_1 = {'Charls':'Al Furjan', 'Ryan':'Al Hudaiba', 'Renzie':'Al Fahidi' }
dict_2 = {'Gab':'Satwa','Ysabel':'DG','Patricia':'Oud Metha' }
dict_1.update(dict_2)
print('Merged dictionary:')
print(dict_1)

Merged dictionary:
{'Charls': 'Al Furjan', 'Ryan': 'Al Hudaiba', 'Renzie': 'Al Fahidi', 'Gab': 'Satwa', 'Ysabel': 'DG', 'Patricia': 'Oud Metha'}

In [ ]:
#Exercise 9
string = input("Enter String : ")
char = input("Enter a Character to check occurance: ")
count = 0
for i in range(len(string)):
    if(string[i] == char):
        count = count + 1
print("Total Number of occurence of ", char, "is :" , count)

Enter String : Programming
Enter a Character to check occurance: r
Total Number of occurence of  r is : 2

In [ ]:
#Exercise 10

#Take three values from user
num1 = int(input("Enter 1st value: "))
num2 = int(input("Enter 2nd value: "))
num3 = int(input("Enter 3rd value: "))
 
if (num1 > num2) and (num1 > num3):
   largest = num1
elif (num2 > num1) and (num2 > num3):
   largest = num2
else:
   largest = num3
 
print("The largest number amongst 3 inputs is ",largest)

Enter 1st value: 300
Enter 2nd value: 200
Enter 3rd value: 301
The largest number amongst 3 inputs is  301