<a href="https://colab.research.google.com/github/PtrcE/Programming-class/blob/main/Class%20Work/November_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Asking user preferred car brand
cars=['lexus','subaru','nissan','honda','bentley','mercedes']

brand=(input('Enter preferred car brand: '))
if brand in cars:
  print('You prefer',brand,'!')
else:
  print('You prefer other brands')

Enter preferred car brand: lexus
You prefer lexus !

In [ ]:
#Asking user car brand and color (TO EDIT)
carbrands = ['Toyota', 'toyota', 'Honda', 'honda', 'Ferrari', 'ferrari', 'Lamborghini', 'lamborghini', 
             'Nissan', 'nissan', 'Mercedes Benz', 'mercedes benz', 'Mercedes-Benz', 'mercedes-benz']
colors = ['Black', 'black', 'White', 'white', 'Grey', 'grey', 'Blue', 'blue', 'Red', 'red', 'Yellow', 'yellow']
userbrand = (input('Good day! What brand of car would you like to choose?\nYour choice: '))

if userbrand in carbrands:
  print('Good choice! We have', userbrand+'s available. What color would you like your car to be?')
  carcolor = (input('Your choice: '))
  if carcolor in colors:
    print('Nice! Luckily, we have', carcolor, userbrand+'s in your selected color.')
  else:
    print('Sorry, but we do not have available cars in your selected color')
else:
  print('Sorry, but we do not have available cars in your selected brand.')

In [ ]:
#range function(0-11)
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#range function(1-15)
for i in range(15):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
#Printing pyramind of succesive numbers
n=int(input('Enter the number of rows: '))
for i in range(0,n):
  for j in range(0,i+1):
    print(j,end='')
  print()

Enter the number of rows: 5
0
01
012
0123
01234

In [ ]:
#Printing pyramind of succesive numbers (w/o +1)
n=int(input('Enter the number of rows: '))
for i in range(0,n):
  for j in range(0,i): #w/o +1
    print(j,end='')
  print()

Enter the number of rows: 5

0
01
012
0123

In [ ]:
n=int(input('Enter the number of rows: '))
for i in range(n):
  for j in range(i+1): 
    print (j,end="")
  print()

for i in range(n):
  for j in range(0,n-i-1): #inverted
    print(j,end="")
  print()

Enter the number of rows: 5
0
01
012
0123
01234
0123
012
01
0

In [ ]:
#Printing pyramind of succesive * 
n=int(input('Enter the number of rows: '))
for i in range(n):
  for j in range(i+1): 
    print("*",end="")
  print()

Enter the number of rows: 5
*
**
***
****
*****

In [ ]:
for i in range(10,50,5): #starts at 10 stops at 50 & step of 5
  print(i,end='  ')

10  15  20  25  30  35  40  45

In [ ]:
#Printing pyramind of inverted * 
n=int(input('Enter the number of rows: '))
for i in range(n):
  for j in range(0,n-i-1): #inverted
    print("*",end="")
  print()

Enter the number of rows: 5
****
***
**
*

In [ ]:
#triangle
n=int(input('Enter the number of rows: '))
for i in range(n):
  for j in range(i+1): 
    print("*",end="")
  print()

for i in range(n):
  for j in range(0,n-i-1): #inverted
    print("*",end="")
  print()

Enter the number of rows: 10
*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
n=int(input('Enter the number of rows: '))
for i in range(n, 0, -1):
  for j in range(i + 1): 
    print(j, end=" ")
  print()

Enter the number of rows: 5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
n=int(input('Enter the number of rows: '))
i=1
while i<=n:
  j=1
  while j<=1:
    print((i*2-1),end=' ') #odd numbers
    j=j+1
  i=i+1
  print()

Enter the number of rows: 5
1
3
5
7
9

In [ ]:
n=int(input('Enter the number of rows: '))
i=1
while i<=n:
  j=1
  while j<=i:
    print((i*2-1),end=' ') #odd numbers
    j=j+1
  i=i+1
  print()

Enter the number of rows: 5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
n=int(input('Enter the number of rows: '))
i=1
while i<=n:
  j=1
  while j<=1:
    print((i*2),end=' ') #even numbers
    j=j+1
  i=i+1
  print()

Enter the number of rows: 5
2
4
6
8
10

In [ ]:
n=int(input('Enter the number of rows: '))
i=1
while i<=n:
  j=1
  while j<=i:
    print((i*2),end=' ') #even numbers
    j=j+1
  i=i+1
  print()

Enter the number of rows: 5
2
4 4
6 6 6
8 8 8 8
10 10 10 10 10

In [ ]:
#pyramind out of stars*
n=int(input('Enter the number of rows: '))
def triangle(n):
     
    
    k = n - 1 # number of spaces
    for i in range(0, n):

        for j in range(0, k):
            print(end=" ")
  
        k = k - 1 # decrementing k after each loop
        for j in range(0, i+1):
            print("* ", end=" ")

        print("\r") # ending line after each row
 
triangle(n)

Enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *