<a href="https://colab.research.google.com/github/PtrcE/Programming-class/blob/main/Class%20Work/Oct_6_ITP_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Valid names for declaring variables

sentence='Today is 6th October, 2022, Thursday.'

sentence1='Today is 6th October, 2022, Thursday.'

sentence_1='Today is 6th October, 2022, Thursday.'

sentence1='Today is 6th October, 2022, Thursday.'

Sentence_1='Today is 6th October, 2022, Thursday.'

SENTENCE1='Today is 6th October, 2022, Thursday'

SEnTEnCE1='Today is 6th October, 2022, Thursday.'



sentence='Today is 6th October, 2022, Thursday.'
print(sentence)

Today is 6th October, 2022, Thursday.

In [3]:
#invalid names for declaringg variables

1sentence='Today is 6th October, 2022, Thursday.'

-sentence='Today is 6th October, 2022, Thursday.'

Sentence-1='Today is 6th October, 2022, Thursday.'

Sentence*1='Today is 6th October, 2022, Thursday.'

today's_date='Today is 6th October, 2022, Thursday.'

print=(1sentence)

SyntaxError: ignored

In [4]:
num=2
print(num)

fl=2.5
print(fl)

com=3+6j
print(com)

2
2.5
(3+6j)

In [5]:
x= 2 #int value

y= 2.5 #floating point value

z= 5+5j #complex value

#type()prints the datatype of the variable

print("Type of A is ",type(x))
print("Type of B is",type(y))
print("Type of C is",type(z))

Type of A is  <class 'int'>
Type of B is <class 'float'>
Type of C is <class 'complex'>

In [6]:
print("enter marks")
marks = int(input())
print("Marks obtained are", marks)

enter marks
95
Marks obtained are 95

In [34]:
#To calculate area of a sqaure

length = int(input("Enter the length: "))
print(length)

area=length**2

print("Area of square:", area)

Enter the length: 5
5
Area of square: 25

In [31]:
#To calculate area and perimeter of a rectangle 
length = int(input("Enter the length: "))
width = int(input("Enter the width: "))

area=length*width
perimeter = 2*(length*width)

print("The area of the rectangle is: ", area)
print("The perimeter of the rectangle is: ",perimeter)

Enter the length: 5
Enter the width: 2
The area of the rectangle is:  10
The perimeter of the rectangle is:  20

In [10]:
#To calculate area of a circle
pi = 3.14159
r = float(input ("Input the radius of the circle: "))
print("The area of the circle with radius of the circle " +str(r) + " is: " + str(pi * r**2))

Input the radius of the circle: 20
The area of the circle with radius of the circle 20.0 is: 1256.636

In [20]:
#changing case
data='Today is 6th October, 2022, Thursday.'
print(data.upper())
print(data.lower())
print(data.title())
line='Hello, I am Patricia'
print(line.capitalize())
print(data.swapcase())

TODAY IS 6TH OCTOBER, 2022, THURSDAY.
today is 6th october, 2022, thursday.
Today Is 6Th October, 2022, Thursday.
Hello, i am patricia
tODAY IS 6TH oCTOBER, 2022, tHURSDAY.

In [12]:
str = 'Hello World'

print (str)           #Prints complete string
print (str[0])        #Prints first character of the string
print (str[2:5])      #Prints characters starting from 3rd to 5th
print (str[2:])       #Prints string starting from 3rd character
print (str * 2)       #Prints string 2 times
print (str + "TEST")  #Prints concatenated string

Hello World
H
llo
llo World
Hello WorldHello World
Hello WorldTEST

In [13]:
#working with strings
sentence1= 'Hi I am Patricia'
sentence2= 'I study Creative computing'
sentence3= 'This is Programming class'

print(sentence1)
print(sentence2)
print(sentence3)
print(sentence1+sentence2+sentence3)

Hi I am Patricia
I study Creative computing
This is Programming class
Hi I am PatriciaI study Creative computingThis is Programming class

In [36]:
#changing case
data= 'Today is 6th October, 2022, Thursday.'
print(data.upper())
print(data.lower())
print(data.title())
sentence='Hello, I Am Patricia'
print(sentence.capitalize())
print(data.swapcase())

TODAY IS 6TH OCTOBER, 2022, THURSDAY.
today is 6th october, 2022, thursday.
Today Is 6Th October, 2022, Thursday.
Hello, i am patricia
tODAY IS 6TH oCTOBER, 2022, tHURSDAY.

In [15]:
#use of lstrip() function to remove spaces from left side of the string
word='   python'
new_word=word.lstrip()
print(word)
print(new_word)

   python
python

In [16]:
#use of rstrip() function to remove spaces from right side of the string
word='python         '
new_word=word.rstrip()
print(word)
print(new_word)

python
python

In [17]:
#To add a tab to your text, use the character combination \t
print("The programming language is \t Python")

#To add a newline in a string, use the character combination \n:
print("\n")

print("Programming Languages: \nPython\nC\nJavaScript")
print("\n")

#formatting using \t and \n
print("Programming Languages: \n\tPython\n\tC\n\tJavaScript")

The programming language is 	 Python


Programming Languages:
Python
C
JavaScript


Programming Languages:
	Python
	C
	JavaScript