<a href="https://colab.research.google.com/github/PtrcE/Programming-class/blob/main/Class%20Work/October_27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#using while loop
count = 1
while count<=10:
  print(count)
  count=count+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#using while loop
count = 1
while count<=10:
  print(count)
  count+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
city1='\nPlease enter the cities you would love to visit. '
city1+='\nType quit if all are listed. '
while True:
  city=input(city1)

  if city=='quit':
    break
  else:
    print('The city I would love to visit is', city.title())

The city I would love to visit is Manila

In [ ]:
#While loop- continue (odd numbers)
count=0
while count<10:
  count+=1
  if count%2==0:
    continue
  print(count)
else:
    print('Loop ends as value exceeds 10')

1
3
5
7
9
Loop ends as value exceeds 10

In [ ]:
#While loop- continue (even numbers)
count=0
while count<10:
  count+=2
  if count%7==0:
    continue
  print(count)
else:
    print('Loop ends as value exceeds 10')

2
4
6
8
10
Loop ends as value exceeds 10

In [ ]:
snacks=('Chips','Biscuits','Candy')
for snacks in snacks:
  print(snacks)

Chips
Biscuits
Candy

In [ ]:
#Dictationary
student={'Name:': 'Patricia','ID': 8,'Course': 'Creative Computing'}
print('Display key-value pais')
for key, value in student.items():
    print(f"\nKey:{key}")
    print(f"Value:{value}")

    print('\nDisplay only keys')
    for key in student.keys():
      print(key)

    print('\nDisplay only values')
    for value in student.values():
      print(value)

Display key-value pais

Key:Name:
Value:Patricia

Display only keys
Name:
ID
Course

Display only values
Patricia
8
Creative Computing

Key:ID
Value:8

Display only keys
Name:
ID
Course

Display only values
Patricia
8
Creative Computing

Key:Course
Value:Creative Computing

Display only keys
Name:
ID
Course

Display only values
Patricia
8
Creative Computing

In [ ]:
student= {'Name': 'Patricia', 'ID': 8, 'Course': 'Creative Computing'}
print('Display key-value pairs')
for key, value in student.items():
  print(f"\nKey:{key}")
  print(f"Value:{value}")

student['gender']='Female'
print(student)

Display key-value pairs

Key:Name
Value:Patricia

Key:ID
Value:8

Key:Course
Value:Creative Computing
{'Name': 'Patricia', 'ID': 8, 'Course': 'Creative Computing', 'gender': 'Female'}

In [ ]:
student1= {'Name': 'Alpha', 'ID' : '20', 'Course': 'Creative Computing'}
student2= {'Name': 'Beta', 'ID' : '15', 'Course': 'Creative Computing'}
student3= {'Name': 'Gamma', 'ID' : '10', 'Course': 'Creative Computing'}
student4= {'Name': 'Sigma', 'ID' : '5', 'Course': 'Creative Computing'}
student=[student1,student2,student3,student4]
for std in student:
  print(std)

{'Name': 'Alpha', 'ID': '20', 'Course': 'Creative Computing'}
{'Name': 'Beta', 'ID': '15', 'Course': 'Creative Computing'}
{'Name': 'Gamma', 'ID': '10', 'Course': 'Creative Computing'}
{'Name': 'Sigma', 'ID': '5', 'Course': 'Creative Computing'}

In [ ]:
sandwich_orders= ['Beef','Grilled cheese','Turkey','Tuna']
finished_sandwiches= []
while sandwich_orders:
  current_sandwich = sandwich_orders.pop()
  print("Your order " + current_sandwich + " sandwich is ready")
  finished_sandwiches.append(current_sandwich)

print("\n")
print('Sandwich Orders:')
for sandwich in finished_sandwiches:
  print(sandwich,'Sandwich')

Your order Tuna sandwich is ready
Your order Turkey sandwich is ready
Your order Grilled cheese sandwich is ready
Your order Beef sandwich is ready


Sandwich Orders:
Tuna Sandwich
Turkey Sandwich
Grilled cheese Sandwich
Beef Sandwich

In [ ]:
#Chapter 5 - 4
river_country = {'Nile River':'Egypt', 'Amazon River':'Brazil','Ebro River':'Spain'}
print('Display river-country pairs:')
for river, country in river_country.items():
 print(river, " runs through ", country)

print("\nDisplay only River:")
for river in river_country.keys():
  print(river) 

print("\nDisplay only Country:")
for country in river_country.values():
  print(country)

Display river-country pairs:
Nile River  runs through  Egypt
Amazon River  runs through  Brazil
Ebro River  runs through  Spain

Display only River:
Nile River
Amazon River
Ebro River

Display only Country:
Egypt
Brazil
Spain

In [ ]:
#Function definition 
def greet_user():
  print("Hello!")
greet_user()

Hello!

In [ ]:
def display_message():
  print("Como estas?")
display_message()

Como estas?

In [ ]:
#Function def with parameter to Display a simple greeting
def greet_user(username):
  print(f"Hello, {username.title()}!")
greet_user('Patricia')

Hello, Patricia!

In [ ]:
#Function with two parameters
def student(name,ID):
  print(f"\n Student name is {name.title()} and ID is {ID}")
student(name= 'Patricia', ID = 10)

 Student name is Patricia and ID is 10