<a href="https://colab.research.google.com/github/PtrcE/Programming-class/blob/main/Class%20Work/September_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hey diddle diddle,")
print("The cat and the fiddle,")
print("The cow jumped over the moon")
print("The little dog laughed to see such sport,")
print("And the dish ran away with the spoon.")

Hey diddle diddle,
The cat and the fiddle,
The cow jumped over the moon
The little dog laughed to see such sport,
And the dish ran away with the spoon.

In [ ]:
import sys
print("Python version")
print(sys.version)

print("Version info.")
print (sys.version_info)

Python version
3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]
Version info.
sys.version_info(major=3, minor=7, micro=14, releaselevel='final', serial=0)

In [ ]:
from platform import python_version
print(python_version())

3.7.14

In [ ]:
from datetime import date 
today = date.today()
print("Today's Date:",today)

Today's Date: 2022-09-29

In [ ]:
from datetime import date

today = date.today()

# dd/mm/YY
d1 = today.strftime("%d/%m/%Y")
print("d1=", d1)

# Textual month, day and year
d2 = today.strftime("%B %d, %Y")
print("d2=", d2)

# mm/dd/y
d3 = today.strftime("%m/%d/%y")
print("d3 =",d3)

#month abbreviation, day and year 
d4 = today.strftime("%b-%d-%Y")
print("d4 =", d4)

d1= 29/09/2022
d2= September 29, 2022
d3 = 09/29/22
d4 = Sep-29-2022

In [ ]:
from datetime import datetime

# datetime object containing current date and time
now = datetime.now()

print("now=", now)

#dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

now= 2022-09-29 15:38:29.281060
date and time = 29/09/2022 15:38:29

In [ ]:
#initialising variable directly

a = 5

print(a) #print direct value

#printing value of a with text

print ("The value of a is; " + str(a))

5
The value of a is; 5

In [ ]:
a, b = 100, 200
print(a)
print(b)

100
200

In [ ]:
a, b = ("What's"), ("up?")
print(a)
print(b)

What's
up?

In [ ]:
name = input("Enter a name: ")
print(name)

Enter a name: Patricia Enriquez
Patricia Enriquez

In [ ]:
MAX_CONNECTIONS = 500
PI = 3.14159

In [ ]:
pi = 3.14159
r = float(input ("Input the radius of the circle: "))
print("The area of the circle with radius of the circle " +str(r) + " is: " + str(pi * r**2))

Input the radius of the circle: 10
The area of the circle with radius of the circle 10.0 is: 314.159

In [ ]:
length = int(input("Enter the length: "))
print(length)

width = int(input("Enter the width: "))
print(width)

area = length*width
perimeter = 2*(length*width)
print("Area of Rectangle:", area)
print("Perimeter of Rectangle:", perimeter)

Enter the length: 5
5
Enter the width: 2
2
Area of Rectangle: 10
Perimeter of Rectangle: 20